body {
	background-color: #F9F9F9;
}

h1 {
	font-size: 250%;
	text-align: center;
}

p {
	font-size: 115%;
}

.font {
	font-family: cursive;
}

#square {
	background-color: red;
	height: 200px;
	width: 200px;
	display: none;
	position: relative;
}